body{height: 100%;
    margin: auto;
    max-width: 1000px;
    background-color: #ffffff;
    color: #007ad3;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif; 
}
.header{
    text-align: center;
    background-color: red;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.navbar {
    border:1px solid;
    font-size: 20px;
    background-color: #333;
    text-align: center;
    border: 10px;
    
}

    
.navbar ul li{
    list-style: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 34px;
    padding: 30px; 
    transition: 4s ease;
    color: white;
    
    
}
.navbar ul li a{
    list-style: none;
    text-decoration: none;

}
.active {
    background-color: #4CAF50;
    color: white;
}

.section-header-container{
    text-align: center;
    background-color: skyblue;
}
.table-container img{
    max-width: 190px;
    margin: 10px;
}

































